body
{
   background-color: #123123;
}

.containerTopo {
  width: 200px; 
  height: 300px; 
  left: 50px;
  margin-top: auto;
  margin: left 100px;
}

.imagemTopo {
  position: absolute;
  max-width: 300px; 
  top: 20px;
  left: 40px;
  height: auto; 
{}

.imagemTopo:last-child {
  top: 30px;
  left: 30px; 
}


.menuLink {
  color: #fff; 
  text-decoration: none; 
  margin: 0 15px;
}

.menuSeparator {
  color: #fff;
}

.containerMenu
{
  border: 2px #fff;
  border-radius: 20px 0px;
  top: -80px;
  width: 50px;
  height: 40px;
  left: 365px;
}

.menuLink